
.edu {
    padding: 1rem 3.5rem;
    display: grid;
    grid-template-columns: 65px 100px 250px;
    grid-row-gap: 0.4rem;
}

.edu--location {
    grid-column: 1/3;
    grid-row: 2/3;
}

.edu--school {
    font-weight: bold;
}

.edu--degree {
    grid-column: 3 / 4;
}